apiVersion: apps/v1
kind: Deployment
metadata:
  name: transactions-api
  labels:
    app: transactions-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: transactions-api
  template:
    metadata:
      labels:
        app: transactions-api
    spec:
      containers:
        - name: transactions-api
          image: transactions-api:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 3000
          envFrom:
            - configMapRef:
                name: transactions-api-config
            - secretRef:
                name: transactions-api-secret
          livenessProbe:
            httpGet:
              path: /health/live
              port: 3000
            initialDelaySeconds: 15
            periodSeconds: 15
            timeoutSeconds: 3
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /health/ready
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3
          resources:
            requests:
              memory: '128Mi'
              cpu: '100m'
            limits:
              memory: '256Mi'
              cpu: '250m'
